body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(255, 94, 0);
  color: white;
}

.menu-items ul {
  list-style: none;
  display: flex;
}

.menu-items ul li {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.icons i {
  margin-left: 15px;
  font-size: 24px;
  cursor: pointer;
}

.logo {
  max-width: 200px;
}

.padding {
  margin-right: 300px;
  margin-left: 300px;
}
