body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.backMenu {
  background-color: rgb(255, 94, 0);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-right: 300px;
  margin-left: 300px;
  color: white;
}

.menu-items ul {
  list-style: none;
  display: flex;
  padding-left: 0px !important;
}

.menu-items ul li {
  margin-left: 0px;
  margin-right: 10px;
  cursor: pointer;
}

.icons i {
  margin-left: 15px;
  font-size: 24px;
  cursor: pointer;
}

.logo {
  max-width: 200px;
}

.padding {
  margin-right: 300px;
  margin-left: 300px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 90px;
}

.product {
  width: 30%; /* Imposta la larghezza del singolo prodotto in modo che ci siano 3 prodotti in una riga */
  margin-bottom: 50px;
}

.favorite-icon {
  background-color: white;
  padding: 10px;

  position: absolute;
  top: 10px;
  right: 0px;
}
.buttons-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: absolute;
  bottom: 20px;
  left: 0px;
  color: white;
}
.button-green {
  display: flex;
  background-color: green;
}
.button-margin {
  margin-left: 10px;
}

.button-red {
  display: flex;
  background-color: red;
}

.product-images {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.product-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.product .hover-image {
  opacity: 0;
}

.product:hover .default-image {
  opacity: 0;
}

.product:hover .hover-image {
  opacity: 1;
}
.products p {
  margin: 5px !important;
}
.products h4 {
  margin: 5px !important;
}

.price {
  color: red;
}

.offert {
  text-decoration: line-through;
}

.backfooter {
  background-color: black;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-right: 300px;
  margin-left: 300px;
  color: white;
}

.left-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

.right-content {
  padding-top: 10px;
  padding-bottom: 10px;
}
.social {
  width: 20px; /* Imposta la larghezza dell'icona social */
  height: 20px; /* Imposta l'altezza dell'icona social */
  border: 2px solid white; /* Aggiunge un bordo bianco di 2 pixel */
  background-color: white;
  border-radius: 20%; /* Rende i bordi arrotondati per creare una forma circolare */
  margin-right: 5px; /* Aggiunge uno spazio tra le icone social */
}
